@model StoreAPI.Models.Product

<h2>Удаление товара</h2>

<h3>Вы хотите удалить товар?</h3>
<div>
    <br>

    <div>
        <img src=@Url.Content("~/Files/" + Model.name_product + ".png") />
    </div>

    <dl class="dl-horizontal">
        <dt>
            Имя категории
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name_category)
        </dd>

        <dt>
            Название продукта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_product)
        </dd>

        <dt>
            Цена продукта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost_product)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку товаров", "Index")
        </div>
    }
</div>
