@model StoreAPI.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о продукте</h2>

<div>
    <br>

    <div>
        <img src=@Url.Content("~/Files/" + Model.name_product + ".png") />
    </div>

    <dl class="dl-horizontal">

        <dt>
            Имя категории
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name_category)
        </dd>

        <dt>
            Название продукта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_product)
        </dd>

        <dt>
            Цена продукта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost_product)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать продукт", "Edit", new { id = Model.id_product }) |
    @Html.ActionLink("К списку товаров", "Index")
</p>
