@model IEnumerable<StoreAPI.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Поиск по продуктам</h2>

<table>
    <tr>
        <td>
            @using (Html.BeginForm("Search", "Product", FormMethod.Get))
            {
                @Html.TextBox("searching")
                <input type="submit" value="Поиск" class="btn btn-default" />
            }
        </td>
        <td>@Html.ActionLink("К списку товаров", "Index")</td>
    </tr>
</table>

<br>

<table class="table">

        <tr>
            <th></th>
            <th>
                <p>Название</p>
            </th>
            <th>
                <p>Категория</p>
            </th>
            <th>
                <p>Цена продукта</p>
            </th>
            <th>
                <p></p>
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src=@Url.Content("~/Files/" + item.name_product + ".png") class="small_img" />
            </td>
            <td>
                @Html.DisplayFor(model => item.name_product)
            </td>
            <td>
                @Html.DisplayFor(model => item.category.name_category)
            </td>
            <td>
                @Html.DisplayFor(model => item.cost_product)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id_product }) |

                @Html.ActionLink("Подробнее", "Details", new { id = item.id_product }) |

                @Html.ActionLink("Удалить", "Delete", new { id = item.id_product })
            </td>

        </tr>
    }

</table>


