<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title class="title">Админ панель</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <header>

        <span class="home">@Html.ActionLink("Админ панель", "Index", "Home")</span>

        <ul class="menu">
            <li class="menu-li">@Html.ActionLink("Поставки", "Index", "Procurements")</li>
            <li class="menu-li">@Html.ActionLink("Товары", "Index", "Product")</li>
            <li class="menu-li">@Html.ActionLink("Категории", "Index", "Categories")</li>
            <li class="menu-li">@Html.ActionLink("Типы", "Index", "Types")</li>
        </ul>


    </header>

    <section class="content">
        @RenderBody()
    </section>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
