@model StoreAPI.Models.Procurement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Procurement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_procurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_procurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost_procurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost_procurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.count_procurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count_procurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storage.adress_storage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storage.adress_storage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.name_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.name_product)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_procurement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
